<div class="wrapper">
    <div class="header__left">
        <a class="logo" href="{{ site.baseurl }}/" title="Dell Donatoni">{{ site.title }}</a>
    </div>

    <div class="header__right">
        <nav class="main-nav hide-tablet">
            <ul>
                <li><a href="{{ site.baseurl }}" title="Home">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/" title="About">About</a></li>
            </ul>
        </nav>

        <nav id="main-nav__mobile">
            <ul>
                <li><a href="{{ site.baseurl }}" title="Home">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/" title="About">About</a></li>
            </ul>
        </nav>

         <a id="mobile-toggle" class="fa fa-bars show-tablet" href="#sidr" title="Mobile Navigation"></a>
     </div>
</div>
