/* Home
   ========================================================================== */

header {

    /*
    min-height: 400px;
    background-image: url("../images/backgrounds/bg-header.jpg");
    background-position: center center;
    background-size: 100% auto;
    */

    .logo {

    }
}